/contract/node_modules
/contract/deployedContractAddress.txt
/contract/artifacts
/contract/cache
/contract/.env
/contract/coverage.json
/contract/coverage/
/crowdfunding/node_modules
/crowdfunding/.env